!!! 5
html(lang='en')
  head
    title BUGswarm Connector
    script(src='swarm-v0.3.2.js')
    script(src='fake-connector.js')

  body

    h1 BUGswarm Connector: The JavaScript Version
    p
      | View your browser's JavaScript console for more information.
